services:
  mongodb:
    image: mongo:latest
    ports:
      - "27017:27017"
  backend:
    build: .
    ports:
      - "8080:8080"
    environment:
      - SPRING_MONGODB_URI=mongodb://mongodb:27017/movieDB
    depends_on:
     - mongodb